@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div#wrap {
  width: 400px;
  text-align: center;
  padding: 30px;
  border: 1px solid #000;
  margin: 30px;
}
div#toolTipArea {
  margin-top: 20px;
  position: relative;
}

div#toolTipTxt {
  color: #fff;
  height: 36px;
  text-align: center;
  line-height: 32px;
  padding: 0px 18px;
  border: 1px solid #777;
  border-radius: 8px;
  background-color: #777;
  position: absolute;
  left: 110px;
  top: -40px;

  display: none;
}

div#baseTxt {
  border-bottom: 1px dotted #000;
  display: inline-block;
}

div#baseTxt:hover ~ div {
  display: block;
}

/* 삼각형 화살표 시작 */
div#arrowMark {
  border: 6px solid #777;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #777;

  display: none;
  position: absolute;
  left: 164px;
  top: -5px;
}
/* 삼각형 화살표 끝 */
